@use '../../style/mixins' as *;

.container {
  @include centerAbs();
  @include center();
  flex-direction: column;
  background-color: #ffffff;
  position: fixed;
  // width: 50%;
  // height: 50%;
  padding: 10px;
  padding: 22px;
  margin: 10px;
  border-radius: 10px;
}
