@use '../../style/mixins' as *;

.main_container {
  @include centerAbs();
  position: fixed;
  background-color: rgba(255, 255, 255, 0.777);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  width: 25%;
  @media (max-width: 700px) {
    width: 85%;
  }
  .label {
    display: flex;
    align-items: flex-start;
    margin: 4px;
    margin-left: 3%;
    font-weight: 700;
  }

  button {
    margin: 0.4rem;
    border-radius: 5px;
  }

  .close {
    position: absolute;
    left: 3%;
  }

  .memberBtn {
    background-color: #e3e2e2;
    color: black;
    outline: none;
    border: none;
  }

  .gif_input {
    display: flex;
    text-indent: 30%;
    padding: 0px 15%;
  }

  .members_container {
    display: flex;
    flex-wrap: wrap;
  }
}
