@use '../../style/mixins' as *;

.main_container {
  @include center();
  height: 100vh;
  position: relative;
}

.bar_container {
  @include center();
  flex-direction: column;
  background-color: azure;
  height: 100%;
  width: 33%;
  padding: 10px;
}

.chat_container {
  @include center();
  flex-direction: column;
  // background-image: url('../../assets/chat-background.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(184, 154, 116);
  padding: 10px;
  width: 67%;
  height: 100%;
  position: relative;
}

.options {
  display: flex;
  // background-color: antiquewhite;
  padding: 10px;
}

.group_list_container {
  display: flex;
  height: 100%;
  width: 100%;
  .list {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.button {
  margin: 0.4rem;
  border-radius: 5px;
}
