@use '../../style/mixins' as *;
@use '../../style/variables' as *;

.main_container {
  @include center();
  height: 100vh;
  position: relative;
}

.bar_container {
  @include center();
  flex-direction: column;
  background-color: #111b21;
  height: 100%;
  width: 33%;
  padding: 1.2%;
}

.chat_container {
  @include center();
  flex-direction: column;
  background-image: url('https://w0.peakpx.com/wallpaper/744/229/HD-wallpaper-whatsapp-cartoon-halloween-black-dark-simple-rock-skull-thumbnail.jpg');
  padding: 10px;
  width: 67%;
  height: 100%;
  position: relative;
}

.options {
  display: flex;
  padding: 10px;
}

.button {
  margin: 0.4rem;
  border-radius: 5px;
}
