@use '../../style/mixins' as *;

.container {
  @include centerAbs();
  @include center();
  background-color: #ffffff;
  position: fixed;
  padding: 10px;
  padding: 22px;
  margin: 10px;
  border-radius: 10px;
}
