@use '../../style/mixins' as *;

.container {
  display: flex;
  height: 80%;
  width: 100%;
  .list {
    display: flex;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    overflow: auto;
    margin-bottom: 20px;
  }
}
