@use '../../style/mixins' as *;
@use '../../style/variables' as *;

.container {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: aliceblue;
}

.up {
  position: relative;
  height: 10%;
  background-color: $chat-background1;
  border-radius: 8px;
  @include center();
  .up_left {
    position: absolute;
    left: 3%;
    p {
      font-weight: 700;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 76%;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  scroll-behavior: smooth;
  overflow: auto;
  .item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .message {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 2%;
      border-radius: 8px;
      width: fit-content;
      min-width: 25%;
      max-width: 65%;
      margin: 1%;
      .sent_by {
        color: greenyellow;
        inline-size: 100%;
      }
      .text {
        color: white;
        inline-size: 100%;
        overflow-wrap: break-word;
        font-size: large;
        img {
          padding: 10px;
          width: 90%;
          background-color: white !important;
        }
      }
      .hour {
        color: aquamarine;
        inline-size: 100%;
      }
    }
  }
}

.bottom {
  position: relative;
  height: 9%;
  background-color: $chat-background1;
  border-radius: 8px;
  @include center();
  display: flex;
  justify-content: center;

  form {
    justify-content: center;
    position: absolute;
    input {
      width: 100%;
      border-radius: 8px;
    }
    min-width: 20%;
    max-width: 40%;
  }

  .emoji_button {
    background-color: 'none';
    font-size: x-large;
    position: absolute;
    left: 7%;
    cursor: pointer;
    transition: transform 0.1s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .emoji_container {
    position: absolute;
    left: 43px;
    bottom: 48px;
  }
}
