@use '../../style/mixins' as *;

.container {
  position: absolute;
  padding: 10px;
  padding: 22px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.up {
  height: 10%;
}

.main {
  height: 75%;
}

.bottom {
  height: 15%;
}
