@use '../../style/mixins' as *;

.container {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: aliceblue;
}

.up {
  position: relative;
  height: 10%;
  background-color: #202c33;
  border-radius: 8px;
  @include center();
  .up_left {
    position: absolute;
    left: 3%;
    p {
      font-weight: 700;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  height: 76%;
  background-color: #202c3323;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  scroll-behavior: smooth;
  overflow: auto;
  align-items: flex-start;
  // TODO: Change to flex-end
  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // TODO: Change to flex-end
    padding: 4%;
    background-color: #202c33;
    border-radius: 8px;
    width: fit-content;
    min-width: 30%;
    margin: 2%;
    .sent_by {
      color: greenyellow;
    }
    .text {
      color: white;
    }
    .time {
      color: aquamarine;
    }
  }
}

.bottom {
  position: relative;
  height: 9%;
  background-color: #202c33;
  border-radius: 8px;
  @include center();
  form {
    input {
      width: fit-content;
      border-radius: 8px;
    }
  }
}
