@use '../../style/mixins' as *;

.main_container {
  @include center();
}

.group_list {
  @include center();
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
}

.chat_container {
  @include center();
  flex-direction: column;
  padding: 10px;
  flex-grow: 2;
}

.nav_bar {
  display: flex;
  background-color: antiquewhite;
  padding: 10px;
}
